body{
    background-image: url("70172.jpg");
}
#boton_enviar,#boton_ordenar
{
    height: 60px;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(52, 197, 48);
    color: rgb(255, 253, 253);
    font-size: 25px;
    font-family: 'Combo';
}
input
{
    margin: 10px; 
    height: 40px; 
    width: 20%; 
    font-size: 20px; 
    font-family: 'Combo'
}
h3{
    font-size: 45px;
}
#ver_cancion{
    font-family:'Combo' ;
    color: rgb(254, 249, 249);
    font-size: 35px;
}